<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Alert</title>
	
 
</head>

<body>
	
        

           
            
            
            <div class="row" th:fragment="alert-box">
                
                <div class="col"></div>
                   
                <div th:if="${successMessage}" class="alert alert-success alert-dismissible col-6" role="alert" >
                    
                    <div th:text="${successMessage}" class="d-inline-flex">
                        
                    </div>
                    
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div th:if="${failMessage}" class="alert alert-danger alert-dismissible col-6" role="alert" >
                    
                    <div th:text="${failMessage}" class="d-inline-flex">
                        
                    </div>
                    
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="col"></div>
            </div>
            
              
       
</body>
</html>