<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
          

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top" th:fragment="navbar">
        <a class="navbar-brand" href="#">Work Process</a>
        

        
        
          <ul class="navbar-nav ml-auto">
          
            <li class="nav-item">
              <a th:href="@{/login}" class="nav-link" sec:authorize="!isAuthenticated()">Login</a>
            </li>
        
            <li class="nav-item" sec:authorize="isAuthenticated()">
               
              <a th:href="@{/logout}" class="nav-link">Logout</a>
            </li>
         </ul>
      
       
        </nav>
    </body>
</html>
