<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>TODO supply a title</title>
       
    </head>
    <body>
        
             
                <!-- menu -->
                <div id="MainMenu" class="left-nav" th:fragment="left-nav">
                    <div class="list-group list-group-nav">
                    <a id="dashboard" th:href="@{/dashboard}" class="list-group-item outer-menu" data-parent="#MainMenu"><i class="fa fa-dashboard mr-2"></i>Dashboard</a>
                    
                    <a id="users" th:href="@{/superadmin/users}" class="list-group-item outer-menu" data-parent="#MainMenu"><i class="fa fa-users mr-2"></i>Users</a>
                    <a href="#weekly-plans" class="list-group-item outer-menu"  data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-screen mr-2"></i>Weekly Plans<i class="fa fa-caret-down float-right"></i></a>
                    <div class="collapse" id="weekly-plans">
                        
                        <a id="machine1" th:href="@{/machine/1}" class="list-group-item text-right" data-parent="#weekly-plans">Machine 1<i class="fa fa-wrench ml-2"></i></a>
                             
                        <a id="machine2" th:href="@{/machine/2}" class="list-group-item text-right" data-parent="#weekly-plans">Machine 2<i class="fa fa-wrench ml-2"></i></a>
                        <a id="machine3" th:href="@{/machine/3}" class="list-group-item text-right" data-parent="#weekly-plans">Machine 3<i class="fa fa-wrench ml-2"></i></a>
                        <a id="machine4" th:href="@{/machine/4}" class="list-group-item text-right" data-parent="#weekly-plans">Machine 4<i class="fa fa-wrench ml-2"></i></a>

                    </div>
                    <!--<a id="weekly-plans" th:href="@{/weekly-plans}" class="list-group-item outer-menu" data-parent="#MainMenu"><i class="fa fa-users mr-2"></i>Weekly Plan</a>-->
                    <a id="bulk" th:href="@{/bulks}" class="list-group-item outer-menu" data-parent="#MainMenu"><i class="fa fa-users mr-2"></i>Bulk</a>
                    <a id="wup" th:href="@{/wups}" class="list-group-item outer-menu" data-parent="#MainMenu"><i class="fa fa-users mr-2"></i>W/Up</a>
                    
                    <a href="#mixers" class="list-group-item outer-menu"  data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-screen mr-2"></i>Mixers<i class="fa fa-caret-down float-right"></i></a>
                    <div class="collapse" id="mixers">
                        
                        <a id="mixer1" th:href="@{/mixer/1}" class="list-group-item text-right" data-parent="#screens">Mixer 1<i class="fa fa-wrench ml-2"></i></a>
                             
                        <a id="mixer2" th:href="@{/mixer/2}" class="list-group-item text-right" data-parent="#screens">Mixer 2<i class="fa fa-wrench ml-2"></i></a>
                        <a id="mixer3" th:href="@{/mixer/3}" class="list-group-item text-right" data-parent="#screens">Mixer 3<i class="fa fa-wrench ml-2"></i></a>
                        <a id="mixer4" th:href="@{/mixer/4}" class="list-group-item text-right" data-parent="#screens">Spray Dry<i class="fa fa-wrench ml-2"></i></a>

                    </div>
                
                    <a href="#settings" class="list-group-item outer-menu"  data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-cog mr-2"></i>Settings<i class="fa fa-caret-down float-right"></i></a>
                    <div class="collapse" id="settings">
                        
                        <a id="change-password" th:href="@{/change-password}" class="list-group-item text-right" data-parent="#settings">Change Password<i class="fa fa-wrench ml-2"></i></a>
     
                    </div>
                    
                  </div>
                </div>
        
    </body>
</html>
