.left-nav {
    width: 16%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0px;
    background: #f1ecec;
    overflow: hidden;
}
.list-group-nav .list-group-item {
    background-color: #f1f9fb;
    color:#000000;
    border-top: 1px solid #0091b5;
    border-left-color: #fff;
    border-right-color: #fff;
  }

  .list-group-nav .outer-menu{
    background-color: #b3b5b6;
    color:#000000;
    border-top: 1.5px solid #0091b5;
   /* border-left-color: #fff;
    border-right-color: #fff; */
  }
  
  .list-group-nav .list-group-item:hover {
    background-color: #495f64;
    color:#ffffff;
    
  }
  .list-group-nav .active-menu{
    background-color: #0091b5;
    color:#ffffff;
  }
/* 
a:link { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
a:visited { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
a:active { COLOR: black; TEXT-DECORATION: none }
a:hover { COLOR: white; TEXT-DECORATION: none; font-weight: normal } */