.cover-photo img {
    width: 100%;
    height: 300px;
}

.cover-photo .btn {
    position: absolute;
    top: 5%;
    left: 4%;
    transform: translate(-5%, -4%);
    -ms-transform: translate(-5%, -4%);
}