<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>Bulk</title>

        <meta th:replace="fragments/head :: head" />


    </head>

    <body>

        <div th:replace="fragments/navbar :: navbar">...</div>

        <div th:replace="fragments/vertical-navbar :: left-nav">...</div>


        <div class="container-fluid">
            <div th:replace="fragments/alert :: alert-box">...</div>
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <div class="jumbotron">
                        <div class="pb-5">

                            <a class="float-right btn btn-info ml-3"  th:href="@{/bulks/new}"><i class="fa fa-plus-circle"></i>Add</a>
                            
                            <a th:href="@{/export-bulks}" class="float-right btn btn-info ml-3" ><i class="fa fa-file-excel"></i>Export</a>

                            <form id="import-form" th:action="@{/import-bulks}" enctype="multipart/form-data" method="POST">

                                <label  class="float-right btn btn-info ml-3" ><i class="fa fa-image"></i><span>Import</span><input type="file" name="file" id="import-file" hidden="true" /></label>


                            </form>

                        </div>
                        <table class="table table-bordered">
                            <thead class="bg-info">
                                <tr class="bg-secondary text-white">
                                    <th>Operator</th>

                                    <th>Product Code</th>
                                    <th>Process Order</th>
                                    <th>QTY</th>
                                    <th>Status</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="bulk : ${bulkList}">
                                    <tr >
                                        <td  th:text="${bulk.operator}" class="text-center"></td>

                                        <td  th:text="${bulk.productCode}" class="text-center"></td>

                                        <td  th:text="${bulk.processOrder}" class="text-center"></td>
                                        <td  th:text="${bulk.quantity}" class="text-center"></td>
                                        <td>
                                            <button th:id="'start_'+${bulk.processOrder}"  class="btn btn-info" th:onclick="'start(' + ${bulk.processOrder} + ');'">START</button>
                                            <button th:id="'finish_'+${bulk.processOrder}" class="btn btn-info" th:onclick="'finish(' + ${bulk.processOrder} + ');'">FINISH</button>
                                            <button th:id="'hold_'+${bulk.processOrder}" class="btn btn-info" th:onclick="'hold(' + ${bulk.processOrder} + ');'">HOLD</button>
                                        </td>
                                        <td  th:text="${bulk.comment}" class="text-center"></td>

                                    </tr>

                                </th:block>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <script th:src="@{/js/import.js}"></script>
        <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
        <script>
            var pusher = new Pusher("119f74a0f57201a9ffda", {
            cluster: "ap2",
            encrypted: false
            });
            
            var bulkChannel = pusher.subscribe('bulk');
            bulkChannel.bind('status', function(data) {
                console.log(data);
                var status = "#"+data.status+"_"+data.processOrder;
                $(status).removeClass('btn-info');
                if(data.status == 'hold'){
                    $(status).addClass('btn-danger');
                }else{
                    $(status).addClass('btn-success');
                }
            });
        </script>
        <script>
            $(document).ready(function(){
            $('#bulk').addClass("active-menu");

            });
            function start(processOrder){
                $('#start_'+processOrder).removeClass('btn-info');
                $('#start_'+processOrder).addClass('btn-success');
                
                $('#finish_'+processOrder).removeClass('btn-success');
                $('#hold_'+processOrder).removeClass('btn-danger');
                
                $.get("/bulk/start/"+processOrder, function (data, status) {

                });
            }
            function finish(processOrder){
            
                $('#finish_'+processOrder).removeClass('btn-info');
                $('#finish_'+processOrder).addClass('btn-success');
                
                $('#start_'+processOrder).removeClass('btn-success');
                $('#hold_'+processOrder).removeClass('btn-danger');
                
                $.get("/bulk/finish/"+processOrder, function (data, status) {

                });
            }
            function hold(processOrder){
                $('#hold_'+processOrder).removeClass('btn-info');
                $('#hold_'+processOrder).addClass('btn-danger');
                
                $('#start_'+processOrder).removeClass('btn-success');
                $('#finish_'+processOrder).removeClass('btn-success');
                
                $.get("/bulk/hold/"+processOrder, function (data, status) {

                });
            }

        </script>
        
        <script>
           $( document ).ready(function() {
                $.get("/bulk/refresh-status", function (dataList, status) {
                    for (var key in dataList){
                        
                        var data = dataList[key];
                        var status = "#"+data.status+"_"+data.processOrder;
                        $(status).removeClass('btn-info');
                        if(data.status == 'hold'){
                            $(status).addClass('btn-danger');
                        }else{
                            $(status).addClass('btn-success');
                        }
                    }
                });
            });
       </script>

    </body>
</html>