<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Login</title>
	
        <meta th:replace="fragments/head :: head" />
                

</head>

<body>
	 <div th:replace="fragments/navbar :: navbar">...</div>
        
	<div class="container-fluid">

           
            
            
            <div class="row">
                
                <div class="col"></div>
                   
                <div th:if="${successMessage}" class="alert alert-success alert-dismissible col-6" role="alert" >
                    <strong>Success!</strong>
                    <div th:text="${successMessage}" class="d-inline-flex">
                        
                    </div>
                    
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="col"></div>
            </div>
            
                
            
                <div class="text-center">
                    <img th:src="@{/images/login-sm.jpg}" class="rounded mx-auto d-block" width="180" height="180" alt="Logo" />
                </div>
            
                 <div class="row">
                <div class="col">
                </div>
		 <div class="col-6">
                     <div class="jumbotron">
                          <div class="page-header d-flex justify-content-center">
                            <h3>Provide your credentials to login</h3>
                          </div>
                            <br/>
                            
                              <form th:action="@{/login}" method="POST">


                                   <div th:if="${param.error}">
                                        <div class="alert alert-danger">
                                            Invalid email or password.
                                        </div>
                                    </div>
                                    <div th:if="${param.logout}">
                                        <div class="alert alert-info">
                                            You have been logged out.
                                        </div>
                                    </div>

                                    <input type="text" id="email" name="email"  th:placeholder="Email"
                                            class="form-control" /> <br/> 
                                    <input type="password"  th:placeholder="Password"
                                            id="password" name="password" class="form-control" /> <br /> 

                                   
                                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>

                                    
                            </form>
             
                     </div>
                 </div>
                <div class="col">
                </div>
                 </div>
	</div>
       
</body>
</html>