<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>Mixer</title>

        <meta th:replace="fragments/head :: head" />

        <link rel="stylesheet" type="text/css" th:href="@{/css/photo.css}" />
        <style>
            .blink{

                background-color: red;
                animation: blink 1s infinite;
            }

            @keyframes blink{
                0%{opacity: 1;}
                75%{opacity: 1;}
                76%{ opacity: 0;}
                100%{opacity: 0;}
            }
        </style>

    </head>

    <body>

        <div th:replace="fragments/navbar :: navbar">...</div>

        <div th:replace="fragments/vertical-navbar :: left-nav">...</div>


        <div class="container-fluid">
            <div th:replace="fragments/alert :: alert-box">...</div>

            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <div class="row bg-info">

                        <div class="col-4 align-self-center">
                            <h1 th:text="${'MIXER '+ mixerNo}"></h1>
                        </div>
                        <div class="col-4 align-self-center">
                            <h2>standard work</h2>
                        </div>
                        <div class="col-4 align-self-center">
                            <h3>Date:
                                <span id="date"></span>
                            </h3>
                        </div>

                    </div>
                    <form  action="#" th:action="@{'/mixer/'+${mixerNo}}"
                           th:object="${mixer}" method="post"
                           enctype="multipart/form-data"
                           >
                        <div class="row mt-3">
                            <div class="col-4">

                                <input type="hidden" th:field="*{logo}"/>
                                <div class="cover-photo">
                                    <img id="preview"  th:src="@{${mixer.logo}}"/>
                                    <label class="btn btn-info">
                                        <i class="fa fa-camera mr-2"></i>Update
                                        <input type="file" name="file" onchange="readURL(this);" hidden="true" />
                                    </label>
                                </div>


                            </div>
                            <div class="col-4 border border-dark p-2" style="font-size: 70%">
                                <div class="font-weight-bold">1S SORT</div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{sort1}"/>Safety check: all ok
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{sort2}"/>Items sorted to agreed level
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{sort3}"/>Unusable items removed
                                    </label>
                                </div>
                                <hr/>
                                <div class="font-weight-bold">2S SET</div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{set1}"/>Area looks structured and organized
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{set2}"/>Items sorted at optimal place
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{set3}"/>Tools and documents returned after use
                                    </label>
                                </div>
                                <hr/>
                                <div class="font-weight-bold">3S SHINE</div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{shine1}"/>Area is cleaned, well maintained, trash removed
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{shine2}"/>Machines and tools are well maintained and fully functional
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{shine3}"/>Buildings and infrastructure in good condition,
                                        leaks and breakdowns fixed
                                    </label>
                                </div>
                                <hr/>
                                <div class="font-weight-bold">4S STANDARDIZE</div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{standard1}"/>All items have a defined storage place
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{standard2}"/>Storage places are marked and/or labeled
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{standard3}"/>Standardized locations are documented (photo
                                        , procedure, instruction)
                                    </label>
                                </div>
                                <hr/>
                                <div class="font-weight-bold">5S SUSTAIN</div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{sustain1}"/>Area is regularly audited, at least monthly
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{sustain2}"/>Checklist is filled and score posted for everyone
                                        to see
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" th:field="*{sustain3}"/>Deviations are identified, actions defined and 
                                        ownership assigned
                                    </label>
                                </div>

                            </div>
                            <div class="col-4">
                                <table class="table table-bordered">
                                    <thead class="bg-info">
                                        <tr>
                                            <th>Shift</th>
                                            <th>Operator</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Day</td>
                                            <td><input type="text" class="form-control" th:field="*{dayOperator}"/></td>
                                        </tr>
                                        <tr>
                                            <td>Arvo</td>
                                            <td><input type="text" class="form-control" th:field="*{arvoOperator}"/></td>
                                        </tr>
                                        <tr>
                                            <td>Night</td>
                                            <td><input type="text" class="form-control" th:field="*{nightOperator}"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <label>5S score for Mixer 01:</label>
                                    <textarea rows="2" class="form-control" th:field="*{score5s}"></textarea>
                                </div>
                                <div>
                                    <label>OEE for Mixer 01:</label>
                                    <textarea rows="2" class="form-control" th:field="*{scoreOEE}"></textarea>
                                </div>

                                <div>
                                    <label>Breakdown: (Stop watch)</label>
                                    <button type="button" class="btn btn-danger float-right ml-3" onclick="endStopwatch()">End</button>

                                    <button type="button" class="btn btn-danger float-right ml-1" onclick="startStopwatch()">Start</button>

                                    <input type="hidden" id="stopwatch" name="stopwatch"/>
                                </div>
                                <div>
                                    <label id='stopwatch-label' th:text="${mixer.stopwatch}"></label>
                                </div>

                            </div>

                        </div>
                        <div class="row mt-1">
                            <div class="col-12">
                                <button type="submit" class="float-right btn btn-info mb-5">Save Changes</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">

                        <div class="col-12">

                            <a class="float-right btn btn-info ml-3"  th:href="@{'/mixer-data/new/'+${mixerNo}}"><i class="fa fa-plus-circle"></i>Add</a>

                            <a th:href="@{'/export-mixer-data/'+${mixerNo}}" class="float-right btn btn-info ml-3" ><i class="fa fa-file-excel"></i>Export</a>

                            <form id="import-form" th:action="@{'/import-mixer-data/'+${mixerNo}}" enctype="multipart/form-data" method="POST">

                                <label  class="float-right btn btn-info ml-3" ><i class="fa fa-image"></i><span>Import</span><input type="file" name="file" id="import-file" hidden="true" /></label>


                            </form>

                        </div>
                        <table class="table table-bordered">
                            <thead class="bg-info">
                                <tr class="bg-secondary text-white">
                                    <th>Group Code</th>
                                    <th>Process Order</th>
                                    <th>Description</th>
                                    <th>QTY</th>
                                    <th>Planned Starting Time</th>
                                    <th>Planned Finish Time</th>
                                    <th>Actual Status</th>
                                    <th>On Target?</th>
                                    <th>IPC</th>
                                    <th>Change Over</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="mixerData : ${mixerDataList}">
                                    <tr >
                                        <td  th:text="${mixerData.groupCode}" class="text-center"></td>

                                        <td  th:text="${mixerData.processOrder}" class="text-center"></td>
                                        <td  th:text="${mixerData.description}" class="text-center"></td>
                                        <td  th:text="${mixerData.quantity}" class="text-center"></td>
                                        <td  th:text="${mixerData.startTime}" class="text-center"></td>
                                        <td  th:text="${mixerData.endTime}" class="text-center"></td>

                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <button th:id="'status_in_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'statusIn(\''+ ${mixerData.processOrder} + '\');'">IN</button>
                                                <button th:id="'status_out_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'statusOut(\'' + ${mixerData.processOrder} + '\');'">OUT</button>
                                                <button th:id="'status_done_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'statusDone(\'' + ${mixerData.processOrder} + '\');'" >DONE</button>
                                            </div>

                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <button th:id="'target_yes_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'targetYes(\''+ ${mixerData.processOrder} + '\');'">YES</button>
                                                <button th:id="'target_no_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'targetNo(\''+ ${mixerData.processOrder} + '\');'">NO</button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <button th:id="'ipc_yes_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'ipcYes(\''+ ${mixerData.processOrder} + '\');'">YES</button>
                                                <button th:id="'ipc_na_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'ipcNA(\''+ ${mixerData.processOrder} + '\');'">N/A</button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <button th:id="'change_over_sweep_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'changeOverSweep(\''+ ${mixerData.processOrder} + '\');'">Sweep</button>
                                                <button th:id="'change_over_wash_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'changeOverWash(\''+ ${mixerData.processOrder} + '\');'">Wash</button>
                                                <button th:id="'change_over_incomplete_'+${mixerData.processOrder}" class="btn btn-info" th:onclick="'changeOverIncomplete(\''+ ${mixerData.processOrder} + '\');'">Incomplete</button>
                                            </div>

                                        </td>

                                        <td  th:text="${mixerData.comment}" class="text-center"></td>

                                    </tr>

                                </th:block>


                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>



        <script th:src="@{/js/photo-upload.js}"></script>

        <script th:src="@{/js/import.js}"></script>

        <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
        <script>
            var pusher = new Pusher("119f74a0f57201a9ffda", {
            cluster: "ap2",
            encrypted: false
            });
            
            var mixerDataChannel = pusher.subscribe('mixer-data');
            mixerDataChannel.bind('status', function(data) {
                console.log(data);
                var status = "#"+data.status+"_"+data.processOrder;
                $(status).removeClass('btn-info');
                if(data.status == 'hold'){
                    $(status).addClass('btn-danger');
                }else{
                    $(status).addClass('btn-success');
                }
            });
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/

            var mixerNo = /*[[${mixerNo}]]*/ 1;

            /*]]>*/
            $(document).ready(function () {
                $('#mixers').addClass("show");
                $('#mixer' + mixerNo).addClass("active-menu");
                $.get("/mixer-data/refresh-status/"+mixerNo, function (dataList, status) {
                    for (var key in dataList){
                        
                        var data = dataList[key];
                        var status = "#"+data.status+"_"+data.processOrder;
                        $(status).removeClass('btn-info');
                        if(data.status == 'hold'){
                            $(status).addClass('btn-danger');
                        }else{
                            $(status).addClass('btn-success');
                        }
                    }
                });

            });
            
            function statusDone(processOrder) {

                $('#status_done_' + processOrder).removeClass('btn-info');
                $('#status_done_' + processOrder).addClass('btn-success');
                
                $('#status_in_'+processOrder).removeClass('btn-success');
                $('#status_out_'+processOrder).removeClass('btn-success');
                
                $.get("/status/done/" + mixerNo+'/' + processOrder, function (data, status) {

                });
            }

            function statusIn(processOrder) {
                var button = $('#status_in_' + processOrder);
                if (button.hasClass('blink')) {
                    button.removeClass('blink');
                    button.addClass('btn-success');
                    
                    $('#status_done_'+processOrder).removeClass('btn-success');
                    $('#status_out_'+processOrder).removeClass('btn-success');
                
                    $.get('/status/in/'+ mixerNo+'/'+processOrder, function(data, status){
                        
                    });
                } else {
                    button.removeClass('btn-info btn-success');
                    button.addClass('blink');
                }
            }

            function statusOut(processOrder) {
                var button = $('#status_out_' + processOrder);
                if (button.hasClass('blink')) {
                    button.removeClass('blink');
                    button.addClass('btn-success');
                    
                    $('#status_in_'+processOrder).removeClass('btn-success');
                    $('#status_done_'+processOrder).removeClass('btn-success');
                
                    $.get('/status/out/'+ mixerNo+'/'+processOrder, function(data, status){
                        
                    });
                } else {
                    button.removeClass('btn-info btn-success');
                    button.addClass('blink');
                }
            }
            function targetYes(processOrder) {
                var button = $('#target_yes_' + processOrder);
                if (button.hasClass('blink')) {
                    button.removeClass('blink');
                    button.addClass('btn-success');
                    
                    $('#target_no_'+processOrder).removeClass('btn-success');
                
                    $.get('/target/yes/'+ mixerNo+'/'+processOrder, function(data, status){
                        
                    });
                    
                } else {
                    button.removeClass('btn-info btn-success');
                    button.addClass('blink');
                }
            }
            
            function targetNo(processOrder) {
                var button = $('#target_no_' + processOrder);
                if (button.hasClass('blink')) {
                    button.removeClass('blink');
                    button.addClass('btn-success');
                    
                    $('#target_yes_'+processOrder).removeClass('btn-success');
                
                    $.get('/target/no/'+ mixerNo+'/'+processOrder, function(data, status){
                        
                    });
                } else {
                    button.removeClass('btn-info btn-success');
                    button.addClass('blink');
                }
            }
            
            function ipcYes(processOrder) {
                var button = $('#ipc_yes_' + processOrder);
                if (button.hasClass('blink')) {
                    button.removeClass('blink');
                    button.addClass('btn-success');
                    
                    $('#ipc_na_'+processOrder).removeClass('btn-success');
                
                    $.get('/ipc/yes/'+ mixerNo+'/'+processOrder, function(data, status){
                        
                    });
                } else {
                    button.removeClass('btn-info btn-success');
                    button.addClass('blink');
                }
            }
            
            function ipcNA(processOrder) {
                var button = $('#ipc_na_' + processOrder);
                if (button.hasClass('blink')) {
                    button.removeClass('blink');
                    button.addClass('btn-success');
                    
                    $('#ipc_yes_'+processOrder).removeClass('btn-success');
                
                    $.get('/ipc/na/'+ mixerNo+'/'+processOrder, function(data, status){
                        
                    });
                    
                } else {
                    button.removeClass('btn-info btn-success');
                    button.addClass('blink');
                }
            }
            
            function changeOverSweep(processOrder) {
                var button = $('#change_over_sweep_' + processOrder);
                if (button.hasClass('blink')) {
                    button.removeClass('blink');
                    button.addClass('btn-success');
                    
                    $('#change_over_wash_'+processOrder).removeClass('btn-success');
                    $('#change_over_incomplete_'+processOrder).removeClass('btn-success');
                
                    $.get('/changeover/sweep/'+ mixerNo+'/'+processOrder, function(data, status){
                        
                    });
                    
                } else {
                    button.removeClass('btn-info btn-success');
                    button.addClass('blink');
                }
            }
            
            function changeOverWash(processOrder) {
                var button = $('#change_over_wash_' + processOrder);
                if (button.hasClass('blink')) {
                    button.removeClass('blink');
                    button.addClass('btn-success');
                    
                    $('#change_over_sweep_'+processOrder).removeClass('btn-success');
                    $('#change_over_incomplete_'+processOrder).removeClass('btn-success');
                
                    $.get('/changeover/wash/'+ mixerNo+'/'+processOrder, function(data, status){
                        
                    });
                    
                } else {
                    button.removeClass('btn-info btn-success');
                    button.addClass('blink');
                }
            }
            
            function changeOverIncomplete(processOrder) {
                var button = $('#change_over_incomplete_' + processOrder);
                if (button.hasClass('blink')) {
                    button.removeClass('blink');
                    button.addClass('btn-success');
                    
                    $('#change_over_wash_'+processOrder).removeClass('btn-success');
                    $('#change_over_sweep_'+processOrder).removeClass('btn-success');
                
                    $.get('/changeover/incomplete/'+ mixerNo+'/'+processOrder, function(data, status){
                        
                    });
                    
                } else {
                    button.removeClass('btn-info btn-success');
                    button.addClass('blink');
                }
            }

        </script>
        <script type="text/javascript">
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }

            today = dd + '/' + mm + '/' + yyyy;

            document.getElementById("date").textContent = today;


        </script>
        <script>
            function startStopwatch() {
                let d = new Date();
                let start = d.getTime();
                $('#stopwatch').val(start);
                $('#stopwatch-label').text('Started..');
            }
            function endStopwatch() {
                let d = new Date();
                let end = d.getTime();
                let startValue = $('#stopwatch').val();
                let elapsedTime = ((end - parseInt(startValue)) / (1000*60)).toFixed(2)+' minutes';
                $('#stopwatch').val(elapsedTime);
                $('#stopwatch-label').text(elapsedTime);
            }
        </script>
      
    </body>
</html>