<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Users</title>
	
	<meta th:replace="fragments/head :: head" />
        

</head>

<body>
    
     <div th:replace="fragments/navbar :: navbar">...</div>
    
    <div th:replace="fragments/vertical-navbar :: left-nav">...</div>
    
    
	<div class="container-fluid">
               <div th:replace="fragments/alert :: alert-box">...</div>

            <div class="row">
                <div class="col-2">
                   
                </div>
                
                 <div class="col-10">
                     <div class="jumbotron">
                          
                         <div class="pb-5">
<!--                             <button id="addButton" class="float-right btn btn-info ml-3" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus-circle"></i>Add Brand</button>
                                          -->
                             <a class="float-right btn btn-info ml-3"  th:href="@{/superadmin/users/new}"><i class="fa fa-plus-circle"></i>Add User </a>
                             <a th:href="@{/superadmin/users/delete/all}" class="float-right btn btn-info ml-3" ><i class="fa fa-trash"></i>Delete All</a>

                         </div>
                         <table th:if="${not #lists.isEmpty(userList)}" class="table bg-light align">
                            <thead>
                              <tr class="bg-secondary text-white">
                               
                                  <th class="text-center">First Name</th>
                                <th class="text-center">Last Name</th>
                                                                
                                <th class="text-center">Email</th>
                                <th class="text-center">Phone</th>

<!--                                <th class="align" > <a class="btn btn-info" th:href="@{'/admin/brand/delete/all'}">Delete All</a></th>-->
                                 <th class="text-center">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="user : ${userList}">
                                    <tr >
                                        <td  th:text="${user.firstName}" class="text-center"></td>
                                                                               
                                        <td  th:text="${user.lastName}" class="text-center"></td>
                                                                                
                                        <td  th:text="${user.email}" class="text-center"></td>
                                                                                
                                        <td  th:text="${user.phoneNumber}" class="text-center"></td>

                                        <td class="text-center"> 
                                            <a class="btn btn-info ml-2" data-toggle="tooltip" title="Edit User" th:href="@{'/superadmin/users/edit/'+ ${user.id}}"><i class="fa fa-edit"></i> </a>
                                            <a class="btn btn-info ml-2" data-toggle="tooltip" title="Delete User" th:href="@{'/superadmin/users/delete/'+ ${user.id}}"><i class="fa fa-trash"></i></a>
                                        
                                        </td>
                                        
                                    </tr>
                                   
                                </th:block>
                             
                            </tbody>
                          </table>
                         
                         
                     </div>
                 </div>
                
               
            </div>
           
            
	</div>
     
             

     <script>
         $(document).ready(function(){

                   $('#users').addClass("active-menu");

          });
       
     </script>
    
</body>
</html>