<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>Weekly Plan</title>

        <meta th:replace="fragments/head :: head" />


    </head>

    <body>

        <div th:replace="fragments/navbar :: navbar">...</div>

        <div th:replace="fragments/vertical-navbar :: left-nav">...</div>


        <div class="container-fluid">
            <div th:replace="fragments/alert :: alert-box">...</div>
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <div class="jumbotron">
                        <div class="pb-5">

                            <a class="float-right btn btn-info ml-3"  th:href="@{'/machine/new/'+${machineNo}}"><i class="fa fa-plus-circle"></i>Add</a>
                            
                            <a th:href="@{'/export-weekly-plans/'+${machineNo}}" class="float-right btn btn-info ml-3" ><i class="fa fa-file-excel"></i>Export</a>

                            <form id="import-form" th:action="@{'/import-weekly-plans/'+${machineNo}}" enctype="multipart/form-data" method="POST">

                                <label  class="float-right btn btn-info ml-3" ><i class="fa fa-image"></i><span>Import</span><input type="file" name="file" id="import-file" hidden="true" /></label>


                            </form>

                        </div>
                        <table class="table table-bordered">
                            <thead class="bg-info">
                                <tr class="bg-secondary text-white">
                                    <th>Date</th>
                                    <th>Mixer No.</th>
                                    <th>Product Code</th>
                                    <th>Process Order</th>
                                    <th>QTY</th>
                                    <th>Status</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="weeklyPlan : ${weeklyPlanList}">
                                    <tr>
                                        <td  th:text="${weeklyPlan.date}" class="text-center"></td>

                                        <td  th:text="${weeklyPlan.mixerNo}" class="text-center"></td>

                                        <td  th:text="${weeklyPlan.productCode}" class="text-center"></td>

                                        <td  th:text="${weeklyPlan.processOrder}" class="text-center"></td>
                                        <td  th:text="${weeklyPlan.quantity}" class="text-center"></td>
                                        <td>
                                            <button  th:class="'btn btn-info bulk_'+${weeklyPlan.processOrder}">BULK</button>
                                            <button  th:class="'btn btn-info wup_'+${weeklyPlan.processOrder}">W/UP</button>
                                            <button  th:class="'btn btn-info done_'+${weeklyPlan.processOrder}">DONE</button>
                                            <button  th:class="'btn btn-info hold_'+${weeklyPlan.processOrder}">HOLD</button>
                                        </td>
                                        <td  th:text="${weeklyPlan.comment}" class="text-center"></td>

                                    </tr>

                                </th:block>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
        <script>
            var pusher = new Pusher("119f74a0f57201a9ffda", {
            cluster: "ap2",
            encrypted: false
            });
            
            var weeklyPlanChannel = pusher.subscribe('weekly-plan');
            weeklyPlanChannel.bind('status', function(data) {
                console.log(data);
                var status = "."+data.status+"_"+data.processOrder;
                $(status).removeClass('btn-info');
                if(data.status == 'hold'){
                    $(status).addClass('btn-danger');
                }else{
                    $(status).addClass('btn-success');
                }
            });
        </script>

       <script th:src="@{/js/import.js}"></script>
       <script th:inline="javascript">
            /*<![CDATA[*/

            var machineNo = /*[[${machineNo}]]*/ 1;

            /*]]>*/
            $(document).ready(function(){
            $('#weekly-plans').addClass("show");
            $('#machine'+machineNo).addClass("active-menu");

            });

        </script>
      
       <script>
           $( document ).ready(function() {
                $.get("/weeklyplan/refresh-status", function (dataList, status) {
                    for (var key in dataList){
                        
                        var data = dataList[key];
                        var status = "."+data.status+"_"+data.processOrder;
                        $(status).removeClass('btn-info');
                        if(data.status == 'hold'){
                            $(status).addClass('btn-danger');
                        }else{
                            $(status).addClass('btn-success');
                        }
                    }
                });
            });
       </script>

    </body>
</html>